[Unit]
Description=AvianVisitors MQTT bridge
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/%i/avian-mqtt.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
